<!DOCTYPE html>
<html>

<head>
    <title>Wende Luvinga | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <section class="header uk-container">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#"><img src="img/logo.png" alt="Logo"></a>
        </div>
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">Books</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="audio-books.html">Audio books</a></li>
                                <li><a href="text-books.html">Text books</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section id="blog" class="uk-section" style="padding-top: 40px;">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-2-3@m">
                    <div class="uk-margin-large-bottom">
                        <img src="img/blog.jpg" alt="">
                        <h1 class="uk-text-bold uk-margin-top"><a href="#">At such a time like this</a></h1>
                        <p>The Coronavirus pandemic has changed the way we work, the way we interact, the way we eat, etc. In Fact the pandemic has totally changed the way we conduct ourselves to even affect our beliefs.</p>
                        <p>At times likes this, we need to be very careful of where we ground ourselves as the pandemic is like a wind blowing all over and it's only those grounded on strong foundations who will stand it. Yes there is neither proven medication nor vaccination and no one seems to have a correct answer even of what are the symptoms of COVID-19 the illness caused by the virus but there is still hope to those who will be grounded on the right foundation. And Jesus Christ is that foundation. That is what I believe.</p>
                        <p>Now the question is, In the midst of the pandemic, am I trusting the Lord with all my heart? and so are you?. If yes, why fear gathering in the house of the same lord while you go shopping? Why can't you spend as much time to learn from what the same Lord has to say for you as you spend time learning how to protect yourself from the infection?. By this, I'm not saying it's bad to spend time learning how to protect ourselves or taking any kind of measures but the issue is if you compare your investments in getting closer to God and seeking guidance from him with what you invest to protect yourself using manly means are they relative? Which one outweigh the other?</p>
                        <p>One may say that I'm abiding with what the secular leaders are instructing us to do. There is no bad in being obedient to our leaders but remember Shadrack, Meshach and Abednego who requested that they are allowed not to eat the portion of king's meat and wine against king's order and the end of the story we all praise the God of Daniel but it took them bold steps sometimes going against the orders. Let be God who leads you and you will find favour even before kings.</p>
                    </div>
                </div>
                <div class="uk-width-1-3@m">
                    <div>
                        <h2>Categories</h2>
                        <ul class="uk-list">
                            <li><span class="uk-label">inspiration</span></li>
                            <li><span class="uk-label">events</span></li>
                            <li><span class="uk-label">Book launch</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uk-section" style="padding-top: 0;">
        <div class="uk-container">
            <div class="footer uk-padding">
                <div uk-grid class="uk-child-width-expand@s">
                    <div class="footer-logo">
                        <a href="#"><img src="img/logo-white.png" alt="Logo white"></a>
                    </div>
                    <div class="copyright uk-padding-top">&copy Wende Luvinga 2020 | Site by <a href="paulmandele.me"><strong>Seed.</strong>life</a></div>
                    <div>
                        <h4>Lets get social</h4>
                        <a href="#" class="uk-margin-right"><span class="uk-padding-right" uk-icon="icon: facebook;"></span> Facebook</a><a href="#" class="uk-margin-right"><span class="uk-padding-right" uk-icon="icon: instagram;"></span> Instagram</a>
                        <a href="#" class="uk-margin-right"><span class="uk-padding-right" uk-icon="icon: twitter;"></span> Twitter</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
</body>

</html>