@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Bold.woff2') format('woff2'), url('../fonts/CeraPro-Bold.woff') format('woff'), url('../fonts/CeraPro-Bold.ttf') format('truetype'), url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('C../fonts/eraPro-Thin.eot');
    src: url('../fonts/CeraPro-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Thin.woff2') format('woff2'), url('../fonts/CeraPro-Thin.woff') format('woff'), url('../fonts/CeraPro-Thin.ttf') format('truetype'), url('../fonts/CeraPro-Thin.svg#CeraPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Regular.woff2') format('woff2'), url('../fonts/CeraPro-Regular.woff') format('woff'), url('../fonts/CeraPro-Regular.ttf') format('truetype'), url('../fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* UI Kit overrides */

.uk-navbar-nav>li>a {
    font-family: 'Cera Pro', sans-serif;
    font-weight: normal;
    font-size: 110%;
    color: #333745;
}

.header {
    padding-left: 0;
}

.active a {
    color: #D55F8F;
    border-bottom: 4px solid #D55F8F;
}

.uk-navbar-item {
    padding-left: 0;
}

.uk-logo img {
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
}

.uk-text-lead {
    font-size: 1.563em;
}

.uk-icon-link {
    color: #333745;
}

.uk-background-primary {
    background-color: #333745;
}


/* Custom styles */

body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.65;
    color: #333745;
    background-image: url(../img/butterfly-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Cera Pro', sans-serif;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small,
.w-text-small {
    font-size: 0.8em;
}

.w-text-bold {
    font-weight: bold;
}

.w-text-light {
    font-weight: 100;
}

.w-dark {
    color: #333745;
}

.w-pink {
    color: #D55F8F;
}

.w-grey {
    color: #EEEBE8;
}

.w-white {
    color: #FFFFFF;
}

.w-button-primary {
    border: 1px solid #D55F8F;
    background-color: #D55F8F;
    color: #333745;
}


/* 
.w-text-bg-pink {
    background-color: rgba(51, 55, 69, .7);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 5%, rgba(51, 55, 69, 1) 60%);
    padding: 0 40px 5px;
} */

.w-text-bg-pink {
    background-color: #333745;
    padding: 0 40px 5px;
}

.white-a {
    color: #FFFFFF;
    text-decoration: underline;
}

.upcoming-event {
    padding: 5px 10px;
}

.upcoming-event-date {
    width: 40px;
}

.upcoming-event-date .text-big {
    font-size: 2.441em;
}

.link {
    border: 1px solid #bbbeca;
    padding: 5px 40px;
}

.link a {
    color: #333745;
}

.link a:hover,
a:hover {
    color: #b66786;
}

.border-remove-bottom {
    border-bottom: 0;
}

a {
    color: #D55F8F;
}

.subscribe {
    background-color: #333745;
    color: #FFFFFF;
}

.about-caption h4 {
    margin-top: 2.75rem;
}

.border-top {
    border-top: 2px solid #b66786;
    width: 100%;
}

.price-buy-cap {
    width: 100%;
}

.price-buy-cap img {
    width: 50%;
}

#blog h1 a {
    text-decoration: none;
    color: #333745;
}

#blog h1 a:hover {
    text-decoration: none;
    color: #b66786;
}

.footer {
    background-color: #333745;
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer h4 {
    color: #FFFFFF;
}

.footer-logo {
    margin-top: 2.75rem;
}

.footer-logo img {
    width: 60%;
}

.copyright {
    margin-top: 5.75rem;
}